<p>Search by name: <input type="text" ng-model="mainCtrl.searchName" placeholder="ex: Angular mix">Search by catergories: <select ng-model="mainCtrl.searchCat">
  <option value="all">All</option>
  <option ng-repeat="opt in mainCtrl.options">{{opt}}</option>
</select></p>
<button class="btn" ng-click="mainCtrl.cart()">Checkout | {{mainCtrl.cartLen}}</button>
<table class="table">
  <thead>
    <th>Tea</th><th>Information</th>
  </thead>
  <tbody>
    <tr ng-repeat="item in mainCtrl.items | sortCat: mainCtrl.searchCat | sortName:mainCtrl.searchName">
      <td>
        <img ng-src="{{item.imageurl}}" alt="" />
      </td>
      <td>
        <h2>{{item.name}}</h2>
        <p>
          Price: {{item.price | toPrice}}
        </p>
        <p>
          Ingrediants: {{item.ingredients}}
        </p>
        <p>
          Rating: {{item.rating}}
        </p>
        <p>
          In stock: {{item.quantity > 0}}
        </p>
        <p>
          Categories: <ul>
            <li ng-repeat="categorie in item.catergories">{{categorie[1]}}</li>
          </ul>
        </p>
        <div class="quant">
          <label for="">Quantity</label>
          <select name="quantSelect" ng-model="quant" ng-init='quant=1'>
            <option ng-repeat="num in mainCtrl.range(item.quantity)">{{num}}</option>
          </select>
        </div>
        <button type="button" class="btn add" ng-click="mainCtrl.add(item, quant)" ng-disabled="item.quantity < 1">Add to Bag</button>
      </td>
    </tr>
  </tbody>
</table>
